{
    "PALWORLD_SERVERS": {
        "Palworld Server Example": {
            "RCON_HOST": "127.0.0.1",
            "RCON_PORT": 25575,
            "RCON_PASS": "rcon_password",
            "SERVER_PORT": 8211
        },
        "Palworld Second Server Example": {
            "RCON_HOST": "127.0.0.1",
            "RCON_PORT": 25575,
            "RCON_PASS": "rcon_password",
            "SERVER_PORT": 8211,
            "SERVER_SLOTS": 20,
            "QUERY_CHANNEL": 12345678,
            "CONNECTION_CHANNEL": 123456788,
            "WHITELIST_ENABLED": true
        }
    },
    "SHUTDOWN_SCHEDULE": {
        "enabled": false,
        "times": ["06:30", "18:30"],
        "timezone": "America/New_York",
        "channel": 12345678
    },
    "STATUS_TRACKING": true,
    "PALGUARD_ACTIVE": false,
    "ECONOMY_SETTINGS": {
        "enabled": false,
        "currency": "Points",
        "invite_reward": 100,
        "work_reward": [20, 50],
        "work_timer": 360,
        "daily_reward": 200,
        "daily_timer": 86400,
        "work_description": [
            "Your Pals butchered the invaders and earned {earned_points} {currency}!",
            "Anubis stumbled upon {earned_points} {currency} in the hot tub!",
            "You crafted some ammo and earned {earned_points} {currency}."
        ],
        "role_bonuses": {
            "Server Booster": 20,
            "Regular": 10
        },
        "vote_enabled": false,
        "vote_slug": "server_slug",
        "vote_apikey": "api_key",
        "vote_reward": 100
    }
}