{
    "PALWORLD_SERVERS": {
        "Palworld Server 1": {
            "RCON_HOST": "127.0.0.1",
            "RCON_PORT": 25575,
            "RCON_PASS": "rcon_password"
        },
        "Palworld Other Server": {
            "RCON_HOST": "127.0.0.1",
            "RCON_PORT": 25575,
            "RCON_PASS": "rcon_password",
            "SERVER_PORT": 8211,
            "QUERY_CHANNEL": CHANNEL_ID
        }
    }
}